*.pyc
*.~lock.*
debug.log
rocket/MappingManager.py
rocket/lib/ruby_ship/bin/shipyard/linux_ruby/share/ri/2.1.0/system/MiniTest/Unit/TestCase/cdesc-TestCase.ri
rocket/lib/ruby_ship/bin/shipyard/linux_ruby/share/ri/2.1.0/system/MiniTest/Unit/cdesc-Unit.ri
rocket/lib/ruby_ship/bin/shipyard/linux_ruby/share/ri/2.1.0/system/MiniTest/cdesc-MiniTest.ri
rocket/lib/ruby_ship/bin/shipyard/linux_ruby/share/ri/2.1.0/system/REXML/Parsers/XPathParser/Predicate-i.ri
rocket/lib/ruby_ship/bin/shipyard/linux_ruby/share/ri/2.1.0/system/RSS/DublinCoreModel/cdesc-DublinCoreModel.ri
mapping_files/sd_definitions.csv
result
rocket/.idea/vcs.xml
rocket/Functions/__pycache__/
rocket/__pycache__/
rocket/data_handlers/__pycache__/
rocket/data_table_test.csv
rocket/mapping_managers/__pycache__/
rocket/template_kit/__pycache__/
rocket/utils/__pycache__/
rocket/utils/coinsExport_FEQ_041617.csv.tsv
rocket/utils/sd_definitions.csv
source_datafiles/coinsExport_FEQ_041617.csv.tsv
/source_datafiles/
/sink_datafiles/
/rocket/.idea/

eatq1_Dec_20_17_14_wtp2ndar\.csv

igt1_Dec_20_17_13_cotwin_coins2ndar\.csv

rocket/utils/yadisc01_definition\.csv

update_template_wtp2ndar\.bat

update_template_coins2ndar\.bat

make_template_wtp2ndar\.bat

make_template\.bat

convert_template_wtp2ndar\.bat

convert_template\.bat

rocket/workspace_path_config\.json

\.idea/

mapping_files/
